<footer>
  <div class="icons-container">
    <a href="" class="icons">
      <img src="assets/icons/twitter.png" alt="" />
    </a>
    <a href="" class="icons">
      <img src="assets/icons/facebook.png" alt="" />
    </a>
    <a href="" class="icons">
      <img src="assets/icons/linkedin.png" alt="" />
    </a>
    <a href="" class="icons">
      <img src="assets/icons/github.png" alt="" />
    </a>
  </div>
  <div class="link">
    <a href="">About</a>
    <div class="divider">/</div>
    <a href="">For Business</a>
    <div class="divider">/</div>
    <a href="">Suggestions</a>
    <div class="divider">/</div>
    <a href="">Help & FAQs</a>
    <div class="divider">/</div>
    <a href="">Contacts</a>
    <div class="divider">/</div>
    <a href="">Pricing</a>
  </div>
  <div class="copyright">
    ©Copyright {{ years }} anycompany.inc
    <br>
    <div class="terms">
      <a href="">Privacy</a>
      <div class="divider">/</div>
      <a href="">Terms</a>
    </div>
  </div>
</footer>
