footer {
  padding: 20px;
  border-top: 1px solid var(--color-secondary);
  margin-top: 100px;
}

a {
  transition: 150ms ease-in-out;
}

a:hover {
  transform: scale(110%);
}

.icons-container {
  display: flex;
}

.icons {
  width: 40px;
  height: 40px;
  display: flex;

  border-radius: 2px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background-color: var(--color-secondary);

  transition: 150ms ease-in-out;
}

.icons:hover {
  transform: scale(110%);
}

.icons img {
  width: 20px;
  object-fit: contain;
  filter: var(--filter-primary);
}

/* LINKS */

.link {
  margin: 40px 0;
  display: flex;
  white-space: nowrap;
}

.divider {
  margin: 0 20px;
}

.copyright {
  font-size: 13px;
}

.terms {
  font-size: 13px;
  display: flex;
  margin-top: 10px;
}

@media (max-width:800px) {
  .link {
    overflow: scroll;
  }
}
